
.aling_last{
    /*centra la ultima linea de texto */
    text-align-last: center;
/*    text-align-last: rigth; */
/*    text-align-last: left; */

}

.direction{
    /* cambiar direccion del texto */
    direction: rtl;
    unicode-bidi: bidi-override;
}