
.aling_last{
    /*centra la ultima linea de texto */
    text-align-last: center;
/*    text-align-last: rigth; */
/*    text-align-last: left; */

}

.direction{
    /* cambiar direccion del texto */
    direction: rtl;
    unicode-bidi: bidi-override;
}


.text-decoration{
    text-decoration-line: line-through;
    text-decoration-color: red;
    text-decoration-style: wavy;  
    text-decoration-thickness: 3px;

}

.text-indent{
    text-indent: 50px;

}
.word-spacing{
    word-spacing: 20px;

}

p.small-caps {
    font-variant: small-caps;
  }